.education {
  max-width: 700px;
  margin: 0.3rem auto;
  padding: 0rem 2rem 2rem 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  font-family: 'Segoe UI', sans-serif;

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 20px;
    margin-right: 30rem;
    color: var(--color-secondary);
  }
  &__degree {
    display: flex;
    gap: 1rem;
  }

  &__formGroup {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.5rem;
      font-weight: 500;
      color: #444;
    }

    input {
      padding: 0.7rem 1rem;
      font-size: 1rem;
      border-radius: 8px;
      border: 1px solid #ccc;
      transition: border-color 0.3s;

      &:focus {
        border-color: var(--color-primary);
        outline: none;
      }
    }
  }

  &__datePicker {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  &__addBtn {
    background-color: var(--color-primary);
    color: #fff;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--color-primary);
    }
  }

  &__list {
    margin-top: 2rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    margin-bottom: 0.75rem;
    font-size: 0.95rem;

    button {
      background-color: var(--color-primary);
      border: none;
      color: #fff;
      padding: 0.3rem 0.8rem;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.85rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--color-primary);
      }
    }
  }

  &__navButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-left: 30rem;
  }

  &__backBtn {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: var(--color-white);
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e2e6ea;
    }
  }

  &__nextBtn {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--color-primary);
    }
  }
}
