:root {
  --color-primary: #f66135;
  --color-primary-light: #cbd0dc;
  --color-primary-dark: #0f0f0f;
  --color-secondary: #484848;
  --color-error: #eb1212;
  --color-success: #fff5f2;
  --color-background: #f9f9f9;
}
